#!/usr/bin/make -f
# -*- makefile -*-
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=0

include /usr/share/dpatch/dpatch.make

CFLAGS = -Wall -g

USE_BRISTUFF=0

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

PKGNAME:=$(shell sed -nre 's/^Package: (.*[0-9])$$/\1/p' debian/control)
DEBVERSION:=$(shell head -n 1 debian/changelog \
		    | sed -e 's/^[^(]*(\([^)]*\)).*/\1/')
UPVERSION:=$(shell echo $(DEBVERSION) | sed -e 's/^.*://' -e 's/-[0-9.]*$$//' -e 's/~dfsg$$//')
UPVERSIONMAJOR:=$(shell echo $(UPVERSION) | sed -re 's/(^[0-9]\.[0-9]).*/\1/')
SHLIBS = $(PKGNAME) (>= $(UPVERSIONMAJOR))
PRIVERSION = $(DEBVERSION)

FILENAME := libpri_$(UPVERSION).orig.tar.gz
URL := http://ftp2.digium.com/pub/libpri/releases/libpri-$(UPVERSION).tar.gz

# shared library versions, option 1
#version=2.0.5
#major=2
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
version=`ls lib*.so.* | \
 awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
major=`ls lib*.so.* | \
 awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	
	touch configure-stamp

BRISTUFF_DIR=bristuffed
bristuff-stamp: 
ifeq ($(USE_BRISTUFF),1)
	mkdir -p $(BRISTUFF_DIR)
	tar cf - . --exclude=./debian/ --exclude=./$(BRISTUFF_DIR)/ \
	| tar xf - -C $(BRISTUFF_DIR)
	cd $(BRISTUFF_DIR); patch <$(CURDIR)/debian/patches/bristuff.dpatch -p1
endif
	touch $@

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	
	# Add here commands to compile the package.
	CFLAGS="$(CFLAGS)" $(MAKE)
ifeq ($(USE_BRISTUFF),1)
	cd $(BRISTUFF_DIR); CFLAGS="$(CFLAGS)" $(MAKE) LIB_SUF=bristuffed
endif
	
	touch build-stamp

clean: clean-unpatched
clean-unpatched:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	
	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	[ ! -f Makefile ] || $(MAKE) clean
	rm -rf $(BRISTUFF_DIR)
	
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	
	# Add here commands to install the package into debian/tmp
	$(MAKE) install INSTALL_PREFIX=$(CURDIR)/debian/tmp
ifeq ($(USE_BRISTUFF),1)
	cd $(BRISTUFF_DIR); make install INSTALL_PREFIX=$(CURDIR)/debian/tmp \
	  LIB_SUF=bristuffed
endif


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -V "$(SHLIBS)"
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

print-version:
	@@echo "Debian version:          $(DEBVERSION)"
	@@echo "Upstream version:        $(UPVERSION)"
	@@echo "Upstream major version:  $(UPVERSIONMAJOR)"

get-orig-source:
	@@dh_testdir
	@@[ -d ../tarballs/. ]||mkdir -p ../tarballs
	@@echo Downloading $(FILENAME) from $(URL) ...
	@@wget -N -nv -T10 -t3 -O ../tarballs/$(FILENAME) $(URL)

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
